.hero-home {
  background-image: url('https://images.unsplash.com/photo-1512436991641-6745cdb1723f');
  background-position: center;
  background-size: cover;
}

.hero-products {
  background-image: url('https://images.unsplash.com/photo-1512436991641-6745cdb1723f');
  background-position: center;
  background-size: cover;
}
